.Search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: #deadac;
  height: 50px;
  border-bottom: 1px solid #b97e8073;

  input {
    width: 30%;
    height: 30px;
    font-size: 15pt;
    margin-right: 20px;
    border-radius: 5px;
  }

  button {
    background-color: #c97288;
    width: 20%;
    max-width: 150px;
    height: 36px;
    border-radius: 5px;
    font-size: 20pt;
    border-color: #a55b5e;
    color: #763d3eea;
  }

  button:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}