.Artist {
  background-color: #d96c87;
  color: #eee2e1;
  text-align: center;
  padding: 5px;
  margin: auto;
  border-radius: 5px;
  border: 1px solid #a55b5e;
  height: 100%;

  a {
    color: #f5edec;
    text-shadow: .5px .5px 1px #a5a5af;
  }
  a:hover {
    cursor: pointer;
    color: white;
  }
}

.Artist:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 2px #a55b5e;
}